/* google font styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

.merriweather-normal {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.color-primary {
  color: #ff0000;
}

/* header */
.layout {
  width: 1320px;
  margin: 50px auto 120px;
}

/* banner styles  */
.banner {
  position: relative;
}

.banner-content {
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 135px;
  right: 413px;
}

.banner-content p {
  font-weight: 400;
  font-size: 32px;
}

.banner-content h2 {
  font-weight: 900;
  font-size: 72px;
  margin-top: 16px;
}

/* Categories styles */
.categories {
  text-align: center;
  margin-bottom: 120px;
}

.categories h2 {
  margin-bottom: 40px;

  /* Font: Inter */
  font-weight: 700;
  font-size: 88px;
}

.categories p {
  /* Font: Inter */
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}

.categories h3 {
  /* Font: Inter */
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 45px;
}

/* Midnight party styles */
.midnight-party {
  position: relative;

  /* background: url("../assets/images/Vectorrr.png"); */
}
.midnight-party .bg-img {
  border-radius: 16px;
  background: linear-gradient(90deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%);
}
.flex-box-midnight-party {
  position: absolute;
  top: 100px;
  right: 134px;
}

.flex-box-midnight-party {
  display: flex;
  justify-content: space-around;

  z-index: 99;
}
.midnight-party-content {
  color: #ffffff;
}
.midnight-party-content h2 {
  font-weight: 900;
  font-size: 64px;
  margin-bottom: 30px;
  letter-spacing: 15px;
}

.midnight-party-content p {
  font-weight: 400;
  font-size: 18px;
  width: 500px;
  margin-bottom: 40px;
}

.midnight-party-content .btn {
  font-weight: 700;
  font-size: 20px;
  margin-top: 48px;
  margin-left: 40px;
}
