* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google font styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

.merriweather-normal {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.color-primary {
  color: #ff0000;
}
body {
  background: rgba(255, 255, 255, 1);
}
/* header */
.layout {
  width: 1320px;
  margin: 50px auto 120px;
}

/* banner styles  */
.banner {
  position: relative;
}

.banner-content {
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 197px;
  right: 455px;
}

.banner-content p {
  font-weight: 400;
  font-size: 32px;
}

.banner-content h2 {
  font-weight: 900;
  font-size: 72px;
  margin-top: 16px;
}

/* Categories styles */
.categories {
  text-align: center;
  margin-bottom: 120px;
}

.categories h2 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 88px;
}

.categories p {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}

.categories h3 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 45px;
}

/* Midnight party styles */
.midnight-party {
  position: relative;
}
.midnight-party .bg-img {
  border-radius: 16px;
  background: linear-gradient(90deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%);
}
.flex-box-midnight-party {
  position: absolute;
  top: 100px;
  right: 134px;
}

.flex-box-midnight-party {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  z-index: 99;
}
.midnight-party-content {
  color: #ffffff;
}
.midnight-party-content h2 {
  font-weight: 900;
  font-size: 64px;
  margin-bottom: 30px;
  letter-spacing: 10px;
}

.midnight-party-content p {
  font-weight: 400;
  font-size: 18px;
  width: 500px;
  margin-bottom: 40px;
}

.midnight-party-content .btn {
  font-weight: 700;
  font-size: 20px;
  margin-top: 48px;
  /* margin-left: 40px; */

  /* border: 1px solid mediumseagreen; */
  padding: 10px 35px;
}

.midnight-party-content .btn:hover {
  background-color: aqua;
}

/* Place-date-time styles  */
.Place-date-time {
  text-align: center;
  padding: 100px 300px 200px;
  margin-top: 120px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}

.Place-date-time p,
span {
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

.Place-date-time span {
  color: #ff0000;
}

.Place-date-time .btn {
  padding: 16px 32px;
  border-radius: 8px;
  background: rgba(255, 0, 0, 1);

  color: rgba(255, 255, 255, 1);
  margin-top: 50px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

/* Offer-year styles */

.offer-year {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.offer-year-content h5 {
  color: red;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.offer-year-content h3 {
  color: rgba(7, 2, 17, 1);

  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.offer-year-content p {
  color: rgba(7, 2, 17, 0.6);
  width: 400px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.offer-year-image img {
  box-sizing: border-box;
  border: 15px solid rgba(255, 0, 0, 1);
  border-radius: 50%;
  padding: 30px;
}

.offer-year-content-2 h5 {
  color: rgba(255, 0, 0, 1);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.offer-year-content-2 p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  width: 300px;
}

/* holiday- sale styles */
.holiday-sale {
  text-align: center;
  margin-top: 130px;
}
.holiday-sale-texts h4 {
  color: rgba(7, 2, 17, 1);
  font-size: 24px;
  font-weight: 500;
}
.holiday-sale-texts .red-color {
  color: #ff0000;
  font-size: 72px;
  font-weight: 900;
}

.holiday-sale-texts h3 {
  /* font-family: Merriweather; */
  font-size: 72px;
  font-weight: 900;
  margin-top: 30px;
}

.holiday-sale-texts p {
  color: rgba(7, 2, 17, 0.6);
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  /* width: 1270px; */
}

.rectangle-2 {
  position: relative;
  top: 600px;
  margin-bottom: 120px;
}

.gift-box-discount {
  position: absolute;

  top: -390px;
}

.gift-box-discount .discount {
  position: absolute;
  left: 1000px;
  top: 95px;
}

/* portfolio section styles */
.portfolio {
  margin-top: 800px;
}
.portfolio h4 {
  color: rgba(255, 0, 0, 1);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

.portfolio h2 {
  color: rgba(7, 2, 17, 1);
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.portfolio p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}

.portfolio-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

/* subscribe section styles */

.subscribe {
  margin-top: 300px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);

  text-align: center;
  padding: 80px 400px;
}

.subscribe img {
  margin-bottom: 40px;
}

.subscribe h3 {
  color: rgba(7, 2, 17, 1);
  margin-bottom: 25px;
  /* font-family: Merriweather; */
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.subscribe P {
  color: rgba(7, 2, 17, 0.6);

  /* font-family: Inter; */
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
  width: 520px;
}
.input-button {
  display: flex;
  max-width: 800px;
}
.input-button input[type="email"] {
  width: 668px;
  height: 46px;
  padding: 10px 20px;
  border-radius: 50px 0 0 50px;
  border: none;
}

.input-button input[type="submit"] {
  width: 231px;
  height: 47px;
  border-radius: 0px 50px 50px 0px;
  padding: 10px 20px;
  background-color: #ff0000;
  border: none;
}

/* footer styles  */

footer {
  background: rgba(7, 2, 17, 1);
  padding: 120px 270px;
}
.contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}
.contact p {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 500;
}

.number-website {
  display: flex;
  gap: 16px;
  align-items: center;
}

.number-website img {
  width: 24px;
  height: 24px;
}

.social-media {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 60px;
}

.copyright {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact p {
  line-height: 150%;
}

.number-website p,
img {
  margin-top: 10px;
}
