/* google font styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

.merriweather-normal {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.color-primary {
  color: #ff0000;
}

/* header */
.layout {
  width: 1320px;
  margin: 50px auto 120px;
}

/* banner styles  */
.banner {
  position: relative;
}

.banner-content {
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 135px;
  right: 413px;
}

.banner-content p {
  font-weight: 400;
  font-size: 32px;
}

.banner-content h2 {
  font-weight: 900;
  font-size: 72px;
  margin-top: 16px;
}

/* Categories styles */
.categories {
  text-align: center;
  margin-bottom: 120px;
}

.categories h2 {
  margin-bottom: 40px;

  /* Font: Inter */
  font-weight: 700;
  font-size: 88px;
}

.categories p {
  /* Font: Inter */
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}

.categories h3 {
  /* Font: Inter */
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 45px;
}
